*{
    direction: rtl;
}

body,html,.col-sm-10,.col-sm-2,.container-fluid,#third-row,#sec,#slider_rapper{
    min-height: 100% !important;
    height: 100%!important;
    padding: 0!important;
    overflow-y: auto!important;
    overflow-x: hidden!important;
}


.navbr{
    background-color: black;
}
#hor-nav{
    color: white;
    font-weight: bold;
}

#footer{
    background-color: black;
    color: gray;
    padding:10px;
    text-align: center;
    clear: both;
}

#sec{
    background-color: white;
}

#ver-nav{
    overflow: hidden;
    font-weight: bold;
}

.navbar-brand{

    float: right;
}

.nav-tabs {
    border-bottom-width: 0;
}

#ver-nav>div>ul>li>a{
    color: black;
}

#ver-nav>div>ul>li>a:hover{
    color: lightgray;
    background-color: white;
    border:0;
}




/*----------------------------------------- large --------------------------------*/



@media (min-width: 768px){
    #form_group{
        padding: 0 20%;
    }

    #searching_div{
        margin-top: 10px;
        position: absolute;
        left: 3%;
        width:20%;

    }
    #searching_btn{
        border: 1px solid ;
        border-radius: 6px;
        background-color: white;
        color: #000;
        font-size: .6em;
        height: 30px;
        width: 20%;
    }

    #text_search{
        border: 1px solid ;
        border-radius: 6px;
        height: 30px;
        font-size: .6em;
        width: 75%;
    }
    #search-text{
        width: 10% !important;
    }

    .form-inline .form-control{
        width: 40% ;
    }
    #selector1{
        width: 48%;
    }

    #selector2{
        width:48%!important;
    }

    #search-btn{
        margin-right: .5%;
        width: 9%;
    }

    #serching_div{
        font-size: 15px;
        width: 95%;
        margin: auto;
    }
    .form-group{
        width:100%;
    }

    .navbar-header{
        margin-right: 1.5%;
    }

    .navbar-inverse{
        font-size:1.3em;
    }

    #second-row{
        margin-top:70px;
    }
    .nav{
        padding:0;
    }

    #ver-nav>ul>li{
        padding-top: 40px;
    }
    #third-row{
        margin-top: 20px;
    }
    #footer{
        margin-top:20px;
    }
    #slider_rapper{
        margin: 0 15% 0 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #sec_rapper{
        padding-bottom: 100px;
        min-width:93.4%;
        margin-left: 1.9%;
        margin-right: 3.3%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .sec-content{
        height: 300px;
        width: 30%;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 20px 2.2% 0 0;
        display: inline-block;
        padding: 20px 20px 0 20px ;
    }
    .img-content{
        height: 180px;
        width: 80%;
        margin: 0 auto;
        padding:0;
    }
    .h6-content{
        font-size: 15px;
    }
    .img-details>p{
        float: left;
    }


}


/*----------------------------------------- smal --------------------------------*/



@media (max-width: 768px){
    #selector1{
        padding:40px;
    }
    #search-btn,#selector2{
        margin-top:10px;
    }
}